[submodule "vim/bundle/prolog.vim"]
	path = vim/bundle/prolog.vim
	url = git://github.com/adimit/prolog.vim.git
[submodule "vim/bundle/inkpot.vim"]
	path = vim/bundle/inkpot.vim
	url = git://github.com/ciaranm/inkpot.git
[submodule "vim/bundle/pathogen.vim"]
	path = vim/bundle/pathogen.vim
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/ruby.vim"]
	path = vim/bundle/ruby.vim
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/fugitive.vim"]
	path = vim/bundle/fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/sudo.vim"]
	path = vim/bundle/sudo.vim
	url = git@github.com:vim-scripts/sudo.vim.git
[submodule "emacs.d/ProofGeneral"]
	path = emacs.d/ProofGeneral
	url = git@github.com:edgemaster/ProofGeneral-patches.git
