[submodule "vim/bundle/prolog.vim"]
	path = vim/pack/legacy/start/prolog.vim
	url = git://github.com/adimit/prolog.vim.git
[submodule "vim/bundle/inkpot.vim"]
	path = vim/pack/legacy/start/inkpot.vim
	url = git://github.com/ciaranm/inkpot.git
[submodule "vim/bundle/ruby.vim"]
	path = vim/bundle/ruby.vim
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/fugitive.vim"]
	path = vim/pack/legacy/start/fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/sudo.vim"]
	path = vim/pack/legacy/start/sudo.vim
	url = git@github.com:vim-scripts/sudo.vim.git
[submodule "vim/bundle/vim-dokuwiki"]
	path = vim/pack/legacy/start/vim-dokuwiki
	url = git@github.com:IgnoredAmbience/vim-dokuwiki.git
[submodule "vim/pack/simsig.vim"]
	path = vim/pack/simsig.vim
	url = git://github.com/IgnoredAmbience/simsig.vim.git
