ControlMaster auto
ControlPath /tmp/ssh-%h-%p-%r
IdentityFile ~/.ssh/id_rsa
Compression yes

Host server
  HostName pythonmoo.co.uk
  Port 2022
  User thomas
  DynamicForward 1080

Host server-proxy
  HostName 127.0.0.1
  Port 2022
  ProxyCommand corkscrew server.pythonmoo.co.uk 80 %h %p
  DynamicForward 1080
  User thomas

Host opls
  HostName bio.positive-dedicated.net
  User thomaswood

Host osm
  HostName dev.openstreetmap.org
  User edgemaster

Host errol
  HostName errol.openstreetmap.org
  User edgemaster

Host doc
  HostName shell3.doc.ic.ac.uk

Host dougal
  HostName dougal.union.ic.ac.uk
  User tw1509

Host doc *.doc.ic.ac.uk
  User tw1509
  ForwardX11 yes
  DynamicForward 1081

Host bitbucket.org github.com
  User git
  IdentityFile ~/.ssh/id_git
