#ControlMaster auto
#ControlPath /tmp/ssh-%h-%p-%r
IdentityFile ~/.ssh/id_rsa
#Compression yes

Host osm
  HostName dev.openstreetmap.org
  User edgemaster

Host errol
  HostName errol.openstreetmap.org
  User edgemaster

Host bitbucket.org github.com
  User git
  IdentityFile ~/.ssh/id_git

Host aur aur.archlinux.org
  HostName aur.archlinux.org
  User aur
  IdentityFile ~/.ssh/aur_id_rsa
